/* @import url("file:///home/lugo/.cache/hellwal/waybar-colors.css"); */

@import "/home/lugo/.cache/hellwal/waybar-colors.css";

@define-color principal @foreground;
@define-color hover @cursor;

* {
    font-size: 10px;
    font-family: "Inter Variable", "Symbols Nerd Font";
    /* border: 1px solid #ffffff; */
    /* background-color: @background; */
}

window#waybar {
    all: unset;
    border-radius: 5px;
    /* background: alpha(@background, 0.8); */
    /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6); */
    /* border: solid 1px alpha(@principal, 0.8); */
}

.modules-left,
.modules-center,
.modules-right {
    padding: 1rem 0rem 1rem 0.4rem;
    min-width: 2.5rem;
    /* background-color: aqua; */
}

tooltip {
    background: @background;
    color: #f8f8f2;
}

#clock,
#battery,
#network,
#cpu,
#memory,
#pulseaudio,
#language,
#tray,
#workspaces,
#custom-orbit {
    border-radius: 0.3rem;
    padding: 0.4rem;
    background: alpha(@background, 0.5);
    color: @principal;
}

#battery,
#cpu,
#memory,
#pulseaudio {
    font-size: 8px;
    font-weight: bold;
    color: @principal;
}

#language {
    font-weight: bold;
}

#clock {
    font-size: 14px;
    font-weight: bold;
    color: @principal;
}

#tray {
    min-height: 1rem;
}

#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#network:hover,
#custom-orbit:hover {
    transition: all 0.3s ease;
    color: @color2;
}

#workspaces {
    padding: 0px 5px;
    font-size: 20rem;
}

#workspaces button {
    all: unset;
    padding: 10px 5px;
    color: alpha(@color1, 0.4);
    transition: all 0.2s ease;
}

#workspaces button:hover {
    color: @color3;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
    transition: all 1s ease;
}

#workspaces button.active {
    color: @color1;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#workspaces button.active:hover {
    color: @color3;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#workspaces button.empty {
    color: @principal;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(255, 255, 255, 0.718);
}

#workspaces button.empty:hover {
    color: @color3;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(115, 104, 104, 0.5);
    transition: all 1s ease;
}

#workspaces button.empty.active {
    color: @color1;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
