* {
    active-background: #e3c36c;
    active-foreground: #eae1d4;
    normal-background: #16130b;
    normal-foreground: #eae1d4;
    urgent-background: #ffb4ab;
    urgent-foreground: #eae1d4;

    alternate-active-background: #16130b;
    alternate-active-foreground: #eae1d4;
    alternate-normal-background: #16130b;
    alternate-normal-foreground: #eae1d4;
    alternate-urgent-background: #16130b;
    alternate-urgent-foreground: #eae1d4;

    selected-active-background: #ffb4ab;
    selected-active-foreground: #eae1d4;
    selected-normal-background: #e3c36c;
    selected-normal-foreground: #eae1d4;
    selected-urgent-background: #adcfad;
    selected-urgent-foreground: #eae1d4;

    background-color: #16130b;
    background: #16130b;
    foreground: #eae1d4;
    border-color: @active-background;
    spacing: 2;
}
