* {
    active-background: #ffb3ac;
    active-foreground: #f1dedc;
    normal-background: #1a1110;
    normal-foreground: #f1dedc;
    urgent-background: #ffb4ab;
    urgent-foreground: #f1dedc;

    alternate-active-background: #1a1110;
    alternate-active-foreground: #f1dedc;
    alternate-normal-background: #1a1110;
    alternate-normal-foreground: #f1dedc;
    alternate-urgent-background: #1a1110;
    alternate-urgent-foreground: #f1dedc;

    selected-active-background: #ffb4ab;
    selected-active-foreground: #f1dedc;
    selected-normal-background: #ffb3ac;
    selected-normal-foreground: #f1dedc;
    selected-urgent-background: #e1c38c;
    selected-urgent-foreground: #f1dedc;

    background-color: #1a1110;
    background: #1a1110;
    foreground: #f1dedc;
    border-color: @active-background;
    spacing: 2;
}
