/* @import url("file:///home/lugo/.cache/hellwal/waybar-colors.css"); */

/*@import "/home/lugo/.cache/hellwal/waybar-colors.css";*/
@import "./colors.css";
@define-color principal @foreground;
@define-color hover @cursor;

* {
    font-family: "Inter Variable", "Symbols Nerd Font";
}

window#waybar {
    all: unset;
    margin: 10rem;
}

tooltip {
    background: @background;
    color: #f8f8f2;
}

#clock,
#battery,
#network,
#cpu,
#memory,
#pulseaudio,
#language,
#tray {
    border-radius: 0rem;
    padding: 0rem;
    /*background: alpha(@background, 0.5);*/
    color: white;
}

#battery,
#cpu,
#memory,
#pulseaudio {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

#network {
    font-size: 15px;
}

#bluetooth {
    font-size: 16px;
}

#language {
    font-weight: bold;
    font-size: 15px;
}

#clock {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

#workspaces {
    border-radius: 0rem;
    padding: 0rem;
    color: @principal;
}

#workspaces button {
}

#workspaces button.active {
}

#workspaces button.empty {
}

#workspaces button:hover {
}

#workspaces button.empty.active {
}

#custom-screenrecorder.recording {
    color: #ff3333;
    font-size: 15px;
}

#custom-screenrecorder.stopped {
    color: white;
    font-size: 15px;
}
